.add-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    /* background-color: rgb(119, 119, 119); */
    /* filter: invert(100%); */
    transition: transform 0.3s ease-in-out;
    width: 40px; /* 배경 원의 너비를 키움 */
    height: 40px; /* 배경 원의 높이를 키움 */
    border-radius: 10px;
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
  }
  
.add-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
.add-button:hover {
  transform: scale(1.2); /* Example: Increase size on hover */
  }